<app-header></app-header>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Você é candidato nas seguintes vagas:</li>
    </ol>
</nav>

<ul class="list-unstyled lista-vagas">
    <li class="media" *ngFor="let vaga of cs.candidaturas">
        <div class="card mb-3" style="width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-8" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">{{ vaga.titulo }}</h5>
                  <p class="card-text"><small class="text-muted">{{ vaga.empresa }}</small></p>
                  <button (click)="cs.removerCandidatura(vaga.id)" type="button" class="btn btn-danger">Desistir</button>
                </div>
              </div>
            </div>
          </div>
    </li>
  </ul>